#main-question-container{

    text-align: center;
    padding: 2vw;
    margin: 2vw;

}

.question-container{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    background-color: #222222;
    color: white;
    margin: 12vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
    padding: 3vw;

}

.question-textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    resize: none;
    color: white;
    border-radius: 10px;
    background-color: #1C5D99;
    border: 2px solid #1C5D99;
    width: 60vw;
    height: 10vw;

}

.question-button{
        
    text-align: center;
    background-color:  #1C5D99;
    color: white;
    border: 2px solid #1C5D99;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    height: 2vw;
    width: 12vw;

    
}

.question-button:hover{

    background-color: #222222;
    
}

