<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/scripts/renderDataComponents.js"></script>

    <link rel="stylesheet" href="../static/stylesheets/helpus-styles.css">
    <link rel="stylesheet" href="../static/stylesheets/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">


    <title>Bize Yardım Edin!</title>
</head>

<body>
    <div class="navbar">
        <span class="navbar-logo">Değerlendiren Zeka</span>
        <a href="/go" class="navbar-button">Verisetini büyütmede bize yardım edin!</a>
    </div>

    <h1 class="main-header">Verisetini Büyütmemize Yardım Edin!</h1>
    <p class="main-description">
        Değerlendiren Zeka'nın geliştirme sürcenin devam ettirilebilmesi için
        verisetlerimizi büyütmeye ihtiyacımız var. Aşağıdan istediğiniz sorulara cevaplar
        verip gönder butonuna basabilirsiniz, cevaplarınız veritabanımıza tamamen anonim
        olarak kaydedilecektir.
    </p>

    <div id="main-question-container">

    </div>



    <div class="main-container">

    </div>

    <div class="footer">
        Değerlendiren Zeka, 2021. <br><br>
        <span>Bize ulaşın:</span><span class="footer-sub-text"> degerlendirenzeka@protonmail.com</span>
    </div>

</body>

</html>